/*  Hi! your going to write styles here in the next couple activities. */
.header { 
            height:250px;
            max-height:500px;
            background-image: url(../images/upsBackground.png);
            background-size: cover;
            background-repeat:no-repeat;
            background-position: bottom;


        }
        #pagetopic { 
            text-align: Center;

        }
        .colorcontainer {
            display:inline-block;
            margin:15px
        }
        .swatch
        {height: 200px; width: 170px; border:1px solid black;}

        .hexCode {
            padding: 15px;
            
            text-align: 1px center;
            border:1px solid black;
            border-top: none;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        
        }
        .darkblue{ background-color: #333366;}
        .darkgrey{ background-color: #545454;}
        .white {background-color: #FFFFFF}
        .orange {background-color: #FC7705}

        .type_container { 
            display:inline-block;
            margin:20px;  }

            .button {
                display:inline-block; padding: 30px;margin: 15px;width: 150px;text-align: center; color:white;
                
            }

             

        